.parent{
    border: 2px solid black;
    height: 400px;
    background-color: aquamarine;

}
.child
{
    border: 1px solid black;
    width: 50%;
   
    background-color: antiquewhite;
}
.child1{
    border: ipx solid black;
    background-color: brown;
    width: 50vw;
}